#kct {
    color: #0D62C6;
}

#k-login {
    background-color: #0D62C6;
    color: white;
    text-decoration: none;
    padding: 1.2rem 10rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
}